.exitPreviewButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.exitPreviewButton {
  width: 100%;
  max-width: 720px;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  color: var(--gray-900);
  background-color: var(--white);
  border-radius: 0.25rem;
  font-weight: 600;

  transition: background-color 0.2s;

  &:hover {
    cursor: pointer;
    background: var(--pink-500);
  }
}