.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
  }
}

.postContent {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postTitleContainer {
  width: 100%;

  h1 {
    margin-top: 5rem;
    font-size: 3rem;
  }
}

.postInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--gray-300);
  font-size: 0.9rem;
  
  time {
    font-style: italic;
  }
}

.postMainInfoContainer{
  display: flex;
  margin-bottom: 1rem;
}

.postInfo {
  display: flex;
  align-items: center;
  margin: 1.75rem 1.5rem 0 0;
  font-size: 1.1rem;
  
  
  time {
    padding-left: 0.5rem;
    font-size: 0.9rem;
    font-style: normal;
  }

  span {
    padding-left: 0.5rem;
    font-size: 0.9rem;
  }
}

.postSectionContainer {
  margin-top: 4rem;
}

.postSection {
  margin-bottom: 3.5rem;
  

  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
  }

  p {
    font-size: 1.1rem;
    color: var(--gray-100);
    line-height: 1.5rem;
    text-align: justify;
    letter-spacing: 0.05rem;
    margin-bottom: 1.75rem;
    
    strong {
      color: var(--white);
    }
  }

  ul {
    font-size: 1.1rem;
    color: var(--gray-100);
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 1.75rem;

    li {
      margin-bottom: 1.75rem;
    }
  }

  a {
    color: var(--pink-500)
  }
}

.postNavigation {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 3.5rem;

  a {
    margin-top: 1rem;
    color: var(--pink-500);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.borderContainer {
  width: 100%;
  max-width: 720px;
  opacity: 0.1;
  border-bottom: 1px solid var(--gray-100);
  margin-bottom: 3.5rem;
}

.prevPost {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.nextPost {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}